#titulo
{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold;
font-size: 15px;
}

#menu
{
text-align:center;
width:140px;
float:left;
padding-top:5px;
padding-bottom:0px;
padding-right:0px;
padding-left:0px;
border-style:groove;
border-radius: 8px;
box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
background-color: #DADADA;
}

#drawing-mode
{
margin-top:8px;
padding-top:5px;
padding-bottom:5px;
}

#saveAndClear
{
margin-top:1px;
}

.icone
{
margin-top:0px;
width:38px;
height:38px;
border-style:solid;
border-color:#DADADA;
border-radius: 1px;
}

.icone2
{
margin-top:0px;
width:35px;
height:35px;
border-style:solid;
border-color:#DADADA;
border-radius: 1px;
}

.iconePincel
{
margin-top:0px;
width:14px;
height:14px;
border-style:solid;
border-color:#DADADA;
border-radius: 1px;
}

img:hover
{
border-radius: 8px;
border-style:groove;
/*ransition: box-shadow 1s ease;*/
box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
}

.colorbox
{
border:1px solid black;
border-radius: 8px;
width:38px;
height:38px;
margin-top:0px;
margin-left:3px;
margin-bottom:5px;
float:left;
}

#palheta
{
margin-top:0px;
border-color:#DCDCDC;
border-style:solid;
}

#autoformas
{
margin-top:5px;
}

.color
{
width:50px;
height:18px;
margin-bottom:5px;
}

.label 
{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 10px;
position: relative;
top:-2px;
}
